@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;0,900;1,400;1,700&display=swap');
/* reset, set-up and custom vars*/

*,*::before,*::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:root
{
    --primary-colour:#7223c7;
    --secondary-colour:#11C9B3;
    --primary-dark-colour:#252627;
    --primary-nav-colour:#1f1f1f;
    --secondary-active-colour:#E67240;
    --secondary-white:rgb(223, 223, 223);
}

body
{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #2f2f2f;
}

img
{
    max-width: 100%;
}

.section-container
{
    max-width: min(100% 1000px);
    padding-block: 5rem;
}

/* reused css */

.section-heading
{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-active-colour);
    max-width: 80%;
    padding: 1.25rem;
    border-radius: 5px;
}

.section-heading h2
{
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

[data-colour="Green"] {
    color: var(--secondary-colour);
  }

[data-colour="Orange"] {
    color: var(--secondary-active-colour);
  }

[data-button="Green"] {
    background-color: var(--secondary-colour);
    font-weight: bold;
    color: var(--primary-dark-colour);
  }

[data-bg='Purple']{
    background-color: var(--primary-colour);
}

[data-bg='White']{
    background-color: #fff;
}

[data-bg='Dark-purple']{
    background-color: var(--primary-dark-colour);
}


/* Nav Bar */
header
{
    max-width: 100%;
}

nav
{
    background-color: var(--primary-nav-colour);
    position: fixed;
    color: white;
    max-width: 1350px;
    margin: 0 auto;
}

.nav-list
{
    flex-basis: 65%;
    padding: 1rem;
}

.nav-list ul
{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav-list ul li a
{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-right: 3px solid #fff;
  padding: 0.6rem;
}

.nav-list ul a:hover
{
    color: var(--secondary-active-colour);
    position: relative;
    top: -5px;
}

.nav-list ul li:last-child a
{
    border: none;
    background-color: var(--secondary-colour);
    border-radius: 10px;
    margin-left: 1rem;
    color: var(--primary-dark-colour);
    font-weight: bold;
}

.nav-list ul li:last-child:hover a
{
    background-color: var(--secondary-active-colour);
    color: #fff;
}

.nav-logo
{
    display: flex;
    font-size: 1rem;
    padding: 0.8rem;
    width: 20%;
    justify-content: space-evenly;
}


/* Off-canvas */

.offcanvas
{
    background-color: var(--primary-nav-colour);
    width: 80%;
    border-radius: 0  0.8rem 0.8rem 0;
}

.offcanvas-header
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2rem 1rem;
    background-color: var(--primary-dark-colour);
    border-radius: 0 10px 0 0;
}

#btn-close
{
    padding: 1rem;  
}

.offcanvas-body
{
    background-color: var(--primary-nav-colour);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.offcanvas-body ul
{
    padding: 1rem;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.offcanvas-body ul a
{
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    padding: 2rem;
    border-bottom: 3px solid #fff;
}

.offcanvas-body ul li:last-child a
{
    background-color: #11C9B3;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    color: var(--primary-dark-colour);
    font-weight: bold;
    border: none;
}
.offcanvas-body ul li:last-child
{
    padding: 2rem;
}


.nav-selection
{
    
}

.nav-selection:hover
{
    color: var(--secondary-colour);
    border-bottom: 3px solid var(--secondary-colour);
}





/* Landing Section */

.heading-image
{
    background-image: url('/images/mainbg.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.landing-content
{
    max-width: 100%;
    height: 100vh;
    position: relative;
}

.landing-links
{
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 20;
}

.landing-links ul
{
    list-style-type: none;
    padding: 0.2rem;
    margin: 0;
    display: flex;
    justify-content: space-around;
    color: var(--primary-dark-colour);
    background-color: var(--secondary-colour);
    border-radius: 10px;
}

.landing-links ul li
{
    font-size: 1.5rem;
    padding: 0.5rem;
}

.landing-links ul li:hover
{
    font-size: 2rem;
}

.landing-links a
{
    color: var(--primary-dark-colour);
}

.landing-links a:hover
{
    color: var(--secondary-active-colour);
}

.landing-content-text
{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    border-left: 10px double white;
    padding-left: 0.5rem;
}

.landing-content-text p
{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}

.header-name
{
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.header-sub-name
{
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
    color: white;
    margin-bottom: 1rem;
}


.header-content-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.header-button
{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--secondary-colour);
    color:var(--primary-dark-colour);
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.40rem;
    box-shadow: 0.313rem 0.313rem 1rem var(--primary-dark-colour);
}

.header-button:hover
{
    background-color: var(--secondary-active-colour);
    color: white;
    position: relative;
    top: 5px;
    box-shadow: 0.313rem 0.313rem 4rem var(--primary-dark-colour);
}


/* About-me section */

.about-me-content
{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}

.about-me-image
{
    margin-block: 2rem 6rem;
    max-width: 50%;
    max-height: 50%;
    background-color: var(--primary-colour);
    border-radius: 10px;
    position: relative;
}
.about-me-image img
{
    z-index: 3;
}
.image-border
{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;  
    border-radius: 10px;
}
[data-border="top"] {
    border-left: 10px solid var(--primary-dark-colour);
    border-top: 10px solid var(--primary-dark-colour);
    top: -20px;
    left: -20px;

}
[data-border="bottom"] {
    border-right: 10px solid var(--primary-dark-colour);
    border-bottom: 10px solid var(--primary-dark-colour);
    bottom: -20px;
    right: -20px;
}

.about-me-information
{
    max-width: 90%;
    max-height: 40%;
    background-color: var(--primary-dark-colour);
    color: white;
    padding-inline: 1.25rem;
    padding-block: 2rem;
    border-radius: 10px  10px 30px 30px;
    border-top: 20px solid var(--primary-colour);
    font-size: 1rem;
    line-height: 1.7;
    box-shadow: 5px 5px 30px black;
}

.about-me-information ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-me-information ul li
{
    padding-left: 1rem;
    text-indent: -0.75rem;
}

.about-me-information ul li::before
{
    content: '📜 ';
}

/* Skillset-section */
.grid-cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    padding: 10px;
    max-width: 100%;
}

.skill-card
{
    width: 100px;
    background-color: var(--primary-colour);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px 12px 5px 5px;
    box-shadow: 2px 2px 10px rgb(57, 57, 57);
    border: 1px solid var(--primary-dark-colour);
    margin: 0 auto;
}

.card-image
{
 max-width: 100%;
 max-height: 50%;
 padding: 5px;
 border-bottom: 2px solid var(--primary-dark-colour);
 background-color: white;
 border-radius: 12px 12px 0 0;
}

.card-image img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-name
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    font-weight: bold;
    max-width: 100%;
    height: 40%;
    color: white;
    text-align: center;
}

/* Project section */



.grid-projects
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    row-gap: 5rem;
    padding: 10px;
    max-width: 100%;
}

.project{
    height: 420px;
    width: 320px;
    margin: auto;
    background-color: var(--primary-colour);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.project-image
{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.project-image img
{
  min-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.project-details
{
    height: 55%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-tools
{
    height: 40%;
    display: flex;
    flex-basis: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.project-tools p 
{
    font-weight: bold;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    display: inline-block;
}

.project-name
{
    height: 25%;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid white;
}

.project-button
{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button-styles
{
    background-color: #11C9B3;
    padding: 10px;
    border-radius: 10px;
    color: var(--primary-dark-colour);
    font-weight: bolder;
    text-decoration: none;
}

.project-button-styles:hover
{
    background-color: var(--secondary-active-colour);
    color: white;
    position: relative;
}
/* Design section */

.design-box
{
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.8fr 0.2fr;
    grid-template-areas: 
    "design-box-image"
    "design-box-text"
    "design-box-button";
    row-gap: 1rem;
}

.design-box-image
{
  grid-area: "design-box-image";
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-box-image img
{
    border-radius: 10px;
    width: max(80vw, 320px);
    max-width: 320px;
    object-fit: contain;
}


.design-box-information-text
{
    background-color: #fff;
    grid-area: "design-box-text";
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 5px var(--primary-dark-colour);
    padding-block: 1.2rem;
    padding-inline: 1.5rem;
    font-size: 1rem;
    line-height: 1.7;
    
}

.design-box-information-text p
{
    padding-bottom: 1rem;
}

.design-box-information-button
{
    
    grid-area: "design-box-button";
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-button
{
    background-color: #11C9B3;
    text-align: center;
    padding: 1rem 1.6rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin: auto;
}

.design-button:hover
{
    background-color: var(--secondary-active-colour);
    color: #fff;
}

.design-box-information-button a
{
    color: var(--primary-dark-colour); 
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Hobbies */

.hobby-box
{
    max-width: 80%;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.hobby-text
{
    background-color: var(--primary-dark-colour);
    color: #fff;
    padding: 2rem;
    bottom: 15px;
    right: 0;
    max-width: 100%;
    border-radius: 10px;
    border-left: 20px solid var(--primary-colour);
}

.hobby-name
{
    border-bottom: 5px solid #fff;
    margin-bottom: 1rem;
}





/* Form-section */


.form-card
{
    color: white;
    padding-top: 2rem;
    margin: 2rem auto;
    max-width: 90%;
    background-color: var(--primary-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-weight: bold;
}

form
{
    padding: 0.5rem;
    max-width: 90%;
}

.form-input
{
    max-width: 90%;
    border-radius: 0.2rem;
    display: block;
    margin-block: 0.5rem 1rem;
}

/* Footer */

footer
{
    width: 100%;
    background-color: var(--primary-nav-colour);
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-section
{
    flex-basis: 30%;
    padding: 1rem 1rem 3rem 1rem;
}

.footer-section ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-section ul a
{
    color: white;
    text-decoration: none;
}

.footer-section ul a:hover
{
    color: var(--secondary-active-colour);
}

.social
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-name
{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.footer-list-heading
{
    font-weight: bold;
    font-size: 2rem;
}





/* ///////////////////Project Page////////////////////////// */


.nav-page-project
{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-home
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.nav-home:hover
{
    color: var(--secondary-active-colour);
}

.header-image
{
    padding-top: 5rem;
    height: 30vh;
}

.header-gamer
{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('/images/test/test.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-Bug
{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('/images/test/bug.JPG');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header-anime
{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('/images/test/anime.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-port
{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('/images/test/port.JPG');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header-ff7
{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('/images/test/ff7.JPG');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}


.project-page-buttons
{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.project-page-buttons p
{
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 3px solid var(--primary-dark-colour);
}

.project-page-buttons ul
{
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-page-buttons ul li
{
    background-color: var(--primary-dark-colour);
    border-radius: 10px;
    color: white;
    margin-right: 1rem;
}

.project-page-buttons ul a
{
    background-color: var(--secondary-colour);
    color: var(--primary-dark-colour);
    display: block;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.project-page-buttons ul a:hover
{
    background-color: var(--secondary-active-colour);
    color: #fff;
    top: 5px;
}

.button-padding-active
{
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
}

.main-projects
{
    background-color: white;
}

.project-page-name
{
    max-width: 80%;
    margin-inline: auto;
    text-align: center;
    padding: 3rem;
}

.project-page-name h1
{
    font-weight: bold;
}

.btn-github
{
    background-color: #333;
    font-weight: bold;
    color: white;
    padding: 1rem;
}

.btn-github:hover
{
    background-color: var(--secondary-active-colour);
    color: white;
}

.btn-live
{
    background-color: var(--secondary-colour);
    font-weight: bold;
    color: var(--primary-dark-colour);
    padding: 1rem;
}

.btn-live:hover
{
    background-color: #E67240;
    color: white;
}

.deployment
{
    padding-bottom: 5rem;
}

.button-group
{
    max-width: 80%;
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    row-gap: 1rem;
}

.project-heading-section
{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-active-colour);
    max-width: 60%;
    padding: 0.6rem;
    border-radius: 5px;
    border-right: 10px solid var(--primary-dark-colour);
    border-left: 10px solid var(--primary-dark-colour);
    color: #fff;
    font-weight: bold;
}

.other-projects
{
    margin: 3rem;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 2rem;
    justify-content: center;
    gap: 1rem;
}

.btn-projects
{
    background-color: var(--secondary-colour);
    font-weight: bold;
    color: white;
    padding: 0.5rem;
}


.gallery-container
{
    background-color: #fff;
    padding-top: 10rem;
}

.photo-grid
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-basis: 30%;
  gap: 1rem;
  margin: 5rem auto;
}


.photo-grid-col
{
    display: flex;
    flex-direction: column;
    max-width: 32%;
    gap: 1.5rem;
}

.photo-grid-col img
{
    border-radius: 20px;
}


.lightbox{
    position: fixed;
    z-index: 5;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.lightbox img
{
    max-width: 50%;
    max-height: 50%;
    border: 5px solid #fff;
    border-radius: 10px;
}

.lightbox-active
{
    display:flex;
    justify-content: center;
    align-items: center;
}

